#mainPart
{
    margin: auto;
    margin-top: 20px;
}
#mainPart .leftNav h3
{
    border-bottom: 1px solid rgba(84, 97, 199, 0.3);
    height: 40px;
}
@media (min-width:992px) {
    #mainPart .rightPart
    {
        margin-top: 60px;
    }
}
th,td
{
    text-align: center!important;
    vertical-align:baseline!important;
}
