#selectPersonalNav
{
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}
#selectPersonalNav .topPart
{
  height: 40px;
  border-bottom: 2px solid rgba(0, 0, 0,0.1);
  margin-bottom: 20px;
}
#selectPersonalNav .topPart .title
{
  font-family: "Microsoft YaHei";
  font-weight: 400;
  font-size: 25px;
  height: 40px;
  width: 150px;
  text-align: center;
  border-bottom: 2px solid rgba(45, 94, 218,0.3);
}
#selectPersonalNav .mainPart .leftSeletPart >*
{
  display: block;
  width: 150px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  transition: color 50ms;
  border-bottom: 1px solid rgba(0, 0, 0,0.1);
}
#selectPersonalNav .mainPart .leftSeletPart i
{
  position: relative;
  left: -10px;
  font-size: 15px;
  color: rgba(0,0,0,0.3);
}
#selectPersonalNav .mainPart .leftSeletPart .canSelect:hover
{
  cursor: pointer;
  color: rgba(24, 134, 224,0.8);
}
#selectPersonalNav .mainPart .leftSeletPart .canSelect:hover i
{
  color: rgba(24, 134, 224,0.8);
}
#selectPersonalNav .canSelect
{
  color: black;
}
#selectPersonalNav .haveSelect
{
  background: rgba(24, 134, 224, 0.6);
  border-bottom: 0px;
  color: white;
}
#selectPersonalNav .haveSelect i
{
  color: white!important;
}
#selectPersonalNav .leftSeletPart
{
  margin-right: 20px;
  height: 500px;
  width: 150px;
  float: left;
}
#selectPersonalNav .rightPart
{
  display: inline-block;
  width: 830px;
}
