.img-responsive
{
    display: inline-block;
}
#portfolio .introduction .detail
{
    display: none;
}
#portfolio .introduction span
{
    display: none;
}
#portfolio .introduction
{
    width: 200px;
    margin: auto;
    margin-top: 10px;
}
#portfolio
{
    padding-bottom: 100px;
}
.navbar-header .navbar-brand img{
    height: 2.5em;
    width: auto;
    margin-left: 5%;
}
.pakeage
{
    float: right;
    position: relative;
    top: -44px;
    color: #bbbbbb;
    right: 31px;
    font-size: 20px;
    display: block;
}
.pakeage:hover
{
    cursor: pointer;
}

#navUser
{
    display: none;
}
.loginandregister
{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 0px !important;
}
.regButton
{
    display: block!important;
}
.loginandregister a
{
    margin-top: -10px;
}