#myInformationPart .topTitle
{
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  background: rgba(24, 134, 224, 0.1);
}
#myInformationPart .topTitle i
{
  margin-left: 25px;
  margin-right: 5px;
  font-size: 20px;
  color: rgb(97, 184, 255);
}
#myInformationPart .headPart
{
  margin-top: 20px;
  margin-left: 25px;
  height: 120px;
}
#myInformationPart .headPart img
{
  height: 120px;
  width: 120px;
  float: left;
  margin-right: 15px;
  border-radius: 5px;
}
#myInformationPart .headPart .headRightPart .name
{
  font-weight: 600;
  padding-top: 5px;

}
#myInformationPart .headPart .headRightPart .major
{
  margin-top: 5px;
  color: rgb(117, 117, 117);
}
#myInformationPart .headPart .headRightPart button
{
  margin-top: 15px;
  margin-bottom: 5px;
}
#myInformationPart .headPart .headRightPart .tips
{
  color: rgb(184, 184, 184);
}
#myInformationPart .personalPart,#myInformationPart .faceToDir
{
  margin-top: 60px;
}
#myInformationPart .personalPart .title,#myInformationPart .faceToDir .title
{
  padding-left: 25px;
  color: rgb(117, 117, 117);
  font-size: 23px;
  border-bottom: 1px solid rgba(219, 219, 219,0.5);
  padding-bottom: 15px;
  font-family: "Microsoft YaHei";
  font-weight: 700;
}
#myInformationPart .personalPart .detialPart
{
  font-size: 15px;
  margin-top: 20px;
}
#myInformationPart .personalPart .detialPart >*
{
  margin-top: 30px;
  margin-left: 25px;
}
#myInformationPart .personalPart .detialPart .detialTitle
{
  color: rgb(171, 171, 171);
  margin-right: 10px;
  float: left;
}
