#loginWindows .closeWindows
{
  position: absolute;
  right: 10px;
  top: 10px;
}
#loginWindows .closeWindows i
{
  font-size: 20px;
  color: rgb(145, 145, 145);
  transition:  color 200ms;
}
#loginWindows .closeWindows i:hover
{
  cursor: pointer;
  color: rgb(0, 0, 0);
}
#loginWindows
{
  width:450px;
  height:380px;
  margin:auto;
  border-radius: 20px;
}
#loginWindows .topPart
{
  text-align: center;
  font-size: 15px;
  width: 300px;
  border-radius: 0px;
  padding-top: 30px;
  margin: auto;
}
#loginWindows .topPart>*
{
  width: 50%;
  float: left;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(136, 136, 136,0.3);
  transition: border 500ms;
}
#loginWindows .topPart .select
{
  color: rgb(26, 141, 184);
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(26, 141, 184);
}
#loginWindows .topPart .select span
{
  cursor: default;
}
#loginWindows .topPart .unSelect:hover
{
  color: rgba(26, 141, 184,0.5);
  cursor: pointer;
}
#loginWindows .mainPart
{
  width: 300px;
  margin: auto;
}
#loginWindows .mainPart input
{
  width: 300px;
}
#loginWindows .mainPart .loginPart >*
{
  margin-top: 25px;
}
#loginWindows .mainPart .loginPart .verificationCode .verification
{
  margin-left: 15px;
  margin-top: 10px;
  font-size: 15px;
}
#loginWindows .mainPart .loginPart .verificationCode .verification:hover
{
  cursor: pointer;
}
#loginWindows .loginInButtom
{
  width: 300px;
}
/*注册窗口*/
#loginWindows .mainPart .registerPart
{
  padding-top:50px;
}
#loginWindows .mainPart .registerPart >*
{
  margin-top: 20px;
}
#loginWindows .occurError
{
  position: absolute;
  right: 20px;
  line-height: 38px;
  color: rgb(255, 45, 40);
}
