#bnav .logo img
{
  width: 200px;
}
#bnav .logo
{
  float: left;
  width: 200px;
  line-height: 40px;
  margin-left: 150px;
}
#bnav
{
  min-width: 1000px;
  height: 100px;
  margin-top: 25px;
}
.nav.selectPart
{
  font-family: "Microsoft YaHei";
  font-weight: 800;
  line-height: 40px;
  margin-right: 70px;
  float: right;
}
.nav.selectPart li
{

  list-style:none;
  float: left;
  width: 100px;
}
.nav.selectPart li a
{
  color: rgb(64, 64, 64);
  text-decoration: none;
  padding-bottom: 10px;
  position:relative;
}

.nav.selectPart li a::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #4285f4;
  transition: all .3s;
}
.nav.selectPart li a:hover::after{
    width: 100%;
    left: 0;
    right: 0;
}
#topicNav .navBackground
{
  margin-top:10px;
  background: linear-gradient(to right,rgb(102, 166, 224),rgb(102, 166, 224), white);
  height: 100px;
}
#topicNav .topicNavBody
{
  width: 1000px;
  margin: auto;
}
#topicNav .topicNavBody .topic
{
  float: right;
  font-size: 30px;
  font-weight: 800;
  color: white;
  margin-right: 50px;
  letter-spacing:5px;
}
