#mainPart
{
  font-family: "微软雅黑";
  margin: auto;
}
#mainPart .title
{
  padding-left: 50px;
  margin-top: 30px;
  font-size: 30px;
  height: 70px;
  border-bottom: 1px solid rgb(199, 199, 199);
}
#mainPart .mainBody >* span:first-child
{
  letter-spacing:2px;
}
#mainPart .mainBody
{
  padding-left: 50px;
  margin-top: 20px;
}
#mainPart .welcome
{
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
#mainPart .loginTime,#mainPart .lastLoginTime
{
  margin-top: 20px;
}
